    .ant-layout {
        background: black;
    }
    .app-layout .menu {
        background-color: rgba(20, 20, 32, 1);
        color: black !important;
        box-shadow: 0 1.6rem 3rem rgba(0, 0, 0, 0.1);
    }
